@import "../../scss/reset"; 

nav{
    background-color: black;
    color: white;

    ul{
        list-style-type: none;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        li{
            padding: 1.5rem;
            font-size: 1.3rem;
            font-weight: 600;
            height: 100%;

            &:hover{
                background-color: #B2E1F8;
                cursor: pointer;
            }
        }

    }
}